@model IEnumerable<Gorev1.Data.Slayt>

@{
	ViewData["Title"] = "Index";
}


<div class="d-flex justify-content-between px-2">
	<h3>Resimler</h3>
	<a class="btn btn-primary" asp-action="Create">Yeni Resim Ekle</a>
</div>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Resim)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Baslik)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Aciklama)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Sira)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="align-middle">
				<td>
					@* @Html.DisplayFor(modelItem => item.Resim) *@
					<img src="~/img/@item.Resim" style="height:3rem;" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Baslik)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Aciklama)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Sira)
				</td>
				<td>
					<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
					<a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
					<a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
				</td>
			</tr>
		}
	</tbody>
</table>
